/*---------------
*/
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

	@media (min-width: 768px) {
	.bd-placeholder-img-lg {
	  font-size: 3.5rem;
	}
}

html,
body {
  height: 100%;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #5E3DEF;
}
main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

.card {
	width: 100%;
  	max-width: 350px;
  	padding: 2px;
  	margin: auto;
  	background: #FFFFFF;
  	box-shadow: 0px 11px 22px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
}

.form-signin h1{
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 37px;
	color: #5E3DEF;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}
.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}
.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}
.form-label-group input:-ms-input-placeholder {
  color: transparent;
}
.form-label-group input::-ms-input-placeholder {
  color: transparent;
}
.form-label-group input::-moz-placeholder {
  color: transparent;
}
.form-label-group input::placeholder {
  color: transparent;
}
.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}
.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}
/*--------input design*/
.form-control{
	border: 0;
	padding: 10px 0;
	border-radius: 0px;
	border-bottom: 1px solid #ccc;
	background-color: #f9f9f9;
}

.form-control:focus{
	box-shadow: none !important;
}

.form-control  ~ .border{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 3px;
	border: none;
	background-color: #5E3DEF;
}
.form-control:focus ~ .border {
  width: 100%;
  transition: 0.5s;
  outline: none !important;
}

/*----------button design------*/
.btn-primary{
	background: #5E3DEF;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}
/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}