/*---------------
*/
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

	@media (min-width: 768px) {
	.bd-placeholder-img-lg {
	  font-size: 3.5rem;
	}
}

html,
body {
  height: 100%;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: relative;
  background-color: #5E3DEF;
}
body.welcome{
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
.cover-container {
  max-width: 42em;
}

main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}
.masthead-brand {
  margin-bottom: 0;
}
.nav-masthead .nav-link {
  padding: .25rem 0;
  color: rgba(255, 255, 255);
  border-bottom: .25rem solid transparent;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}
.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}
.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
  font-weight: 700 !important;
}
@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*-----------Card-----------*/
.card {
	width: 100%;
  	max-width: 340px;
  	padding: 2px;
  	margin: auto;
  	background: #FFFFFF;
  	box-shadow: 0px 11px 22px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
}

/*-----------Profile card---------*/

.profile-card {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: center;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height:368px;
  border:none;
}
.profile-card .background-block {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.profile-card .background-block .background {
  width:100%;
  vertical-align: top;
  -webkit-filter: blur(5px);
  filter: blur(5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
  background:#ffffff;
}
.profile-card .card-content {
  width: 100%;
  padding: 15px 25px;
  color:#5E3DEF;
  float:left;
  background:#ffffff;
  height:50%;
  border-radius:0 0 5px 5px;
  position: relative;
  z-index: 9999;
}
.profile-card .card-content::before {
    content: '';
    background: #ffffff;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
}
.profile-card .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 0px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index:99999;
}
.profile-card h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card i {
  display: inline-block;
    font-size: 16px;
    color: #5E3DEF;
    text-align: center;
    border: 1px solid #5E3DEF;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card .icon-block a{
    text-decoration:none;
}
.profile-card i:hover {
  background-color:#5E3DEF;
  color:#fff;
  text-decoration:none;
}

/*--------Form style------*/
.form-signin h1{
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 37px;
	color: #5E3DEF;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}
.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #717171;
  pointer-events: none;
  cursor: text;
  font-size: 14px;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}
.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}
.form-label-group input:-ms-input-placeholder {
  color: transparent;
}
.form-label-group input::-ms-input-placeholder {
  color: transparent;
}
.form-label-group input::-moz-placeholder {
  color: transparent;
}
.form-label-group input::placeholder {
  color: transparent;
}
.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}
.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}
/*--------input design*/
.form-control{
	border: 0;
	padding: 10px 0;
	border-radius: 0px;
	border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #5E3DEF
}

.form-control:focus{
	box-shadow: none !important;
}

.form-control  ~ .border{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 3px;
	border: none;
	background-color: #5E3DEF;
}
.form-control:focus ~ .border {
  width: 100%;
  transition: 0.5s;
  outline: none !important;
}

/*----------button and design------*/
.btn{
	border-color: none !important;
}
.btn-primary{
	border-color: none !important;
	background: #5E3DEF;
	transition: 0.35s;
}

.btn-primary:hover{
	background: #5E3DEF !important;
	opacity: 0.75
}

.btn-primary:focus{ 

}

label{
	color: #5E3DEF;
}

/*------Link design---------*/
a{
	color: #5E3DEF;
	transition: 0.35s;
}

a:hover{
	text-decoration: none;
	opacity: 0.75;
}

/*
 * Footer
 */


/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}
/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}