 welcome-css
body {
  padding: 0;
  margin: 0;
  background-image: url("../img/background.png");
  background-color: #5e3def;

body{
    padding: 0;
    margin: 0;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative;
    background-color: #5E3DEF;
 master
}

.navbar {
  background: #696fc4;
}

.nav-link,
.nav-brand {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

.header {
  background-size: cover;
  background-position: center;
  position: relative;
}
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}

.description h1 {
  color: #737ae8;
}

.description p {
  color: antiquewhite;
  font-size: 1.3rem;
  line-height: 1.5;
}

.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}

.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.features img {
  -webkit-box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

@media (max-width: 575.95px) {
  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 10%;
    transform: none;
    text-align: center;
  }

  .description h1 {
    font-size: 2em;
  }

 welcome-css
  .description p {
    font-size: 1.2em;
  }

.btn{
	border-color: #737ae8 !important;
    color: #fff;
}
.btn-outline-success{
	border-color: none !important;
	background: #5E3DEF;
	transition: 0.35s;
}
 master

  .features {
    margin: 0;
  }
}

.btn {
  border-color: #737ae8 !important;
  color: #ffffff;
}
.btn-outline-success {
  border-color: none !important;
  background: #5e3def;
  transition: 0.35s;
}

.btn-outline-success:hover {
  background: #5e3def !important;
  opacity: 0.75;
  border-color: #fff;
}
